
<!-- lib/template/erb/scaffold/edit.html.erb -->
<% provide(:title, 'CustomForms::TamilForm') %>
<h1> SSR </h1>
<% content_for :breadcrumb do %>
    <%= link_to('Home', root_path) %>
    <%= link_to('custom_forms_tamil_forms', custom_forms_tamil_forms_path) %>
    <a class="current"><%= @custom_forms_tamil_form.name %></a>
<% end %>

<%= render 'form' %>
