<h1>Editing Custom Forms Sundar Form2</h1>

<%= render 'form', custom_forms_sundar_form2: @custom_forms_sundar_form2 %>

<%= link_to 'Show', @custom_forms_sundar_form2 %> |
<%= link_to 'Back', custom_forms_sundar_form2s_path %>
