<h1>New Custom Forms Sundar Assign 4 Form</h1>

<%= render 'form', custom_forms_sundar_assign_4_form: @custom_forms_sundar_assign_4_form %>

<%= link_to 'Back', custom_forms_sundar_assign_4_forms_path %>
