<h1>Editing Custom Forms Admission Form</h1>

<%= render 'form', custom_forms_admission_form: @custom_forms_admission_form %>

<%= link_to 'Show', @custom_forms_admission_form %> |
<%= link_to 'Back', custom_forms_admission_forms_path %>
