
<!-- lib/template/erb/scaffold/edit.html.erb -->
<% provide(:title, 'CustomForms::AnandYogoList') %>
<h1> SSR </h1>
<% content_for :breadcrumb do %>
    <%= link_to('Home', root_path) %>
    <%= link_to('custom_forms_anand_yogo_lists', custom_forms_anand_yogo_lists_path) %>
    <a class="current"><%= @custom_forms_anand_yogo_list.name %></a>
<% end %>

<%= render 'form' %>
