<h1>New Custom Forms Sriram English Q Paper</h1>

<%= render 'form', custom_forms_sriram_english_q_paper: @custom_forms_sriram_english_q_paper %>

<%= link_to 'Back', custom_forms_sriram_english_q_papers_path %>
